@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* biome-ignore lint/suspicious/noUnknownAtRules: <Temp fix before 2.3 come out> */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  font-family: var(--font-sans);
  color: var(--foreground);
  background: var(--background);
}
